body{
    width: 100 vw;
    height: 100 vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #8C2756;
}


.botaoDirecao{
    height: 150px;
    width: 150px;
    margin: 30px;
}

.displaygame{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border: 10px groove gray;
    padding: 15px;
    background-color: black;
}

h1{
    font-size: 40px;
    color: rgb(83, 228, 83);
}

.botaoCircular{
    height: 150px;
    width: 150px;
    margin: 30px;
}
.botaoCircular img{
    height: 50%;
    width: 50%;
}
.botaoCircular img:nth-child(1){
    margin-left: 75px;
}



